
<table style="" class="ambox ambox-content">
<tbody><tr>
<td class="mbox-image"><span typeof="mw:File"><a href="/wiki/File:Twemoji_1f4dd.svg" class="mw-file-description"><img src="https://upload.wikimedia.org/wikipedia/commons/1/1b/Twemoji_1f4dd.svg" decoding="async" width="40" height="40" class="mw-file-element" data-file-width="512" data-file-height="512"></a></span>
</td>
<td style="" class="mbox-text">This article is a <b>stub.</b> You can help the wiki by expanding it!
</td></tr>
</tbody>
</table>

<!-- I know putting internal CSS here is not cool, will move it when I can -->

<style>
.ambox {
    --darker-grey: #614F51;
    --offwhite: #EEEEEE;
    font-size: 16px;
    word-wrap: break-word;
    line-height: 1.35;
    direction: ltr;
    background: var(--offwhite);
    color: var(--darker-grey);
    border-radius: 10px;
    width: auto;
    max-width: 80%;
    min-width: 30%;
    margin: 5px auto 10px auto;
    border-spacing: 5px;
    border-collapse: separate;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
    box-shadow: 0 0 5px 3px #f28500A0;
}

.mbox-image {
    border-spacing: 5px;
    border-collapse: separate;
    text-align: center;
    padding: 0;
    line-height: 1;
    margin: 15px;
    white-space: nowrap;
}
</style>